<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PackTrack – Track Parcel{% endblock %}</title>
    
    {# CSS du front #}
    <link rel="stylesheet" href="{{ asset('css/front-style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    {% block stylesheets %}{% endblock %}
</head>
<body>

<!-- HEADER -->
<header class="navbar">

    <!-- LEFT : LOGO -->
    <div class="logo">
        <span class="icon">🐾</span>
        
    </div>

    <!-- CENTER : MENU -->
    <nav class="nav-links">
        <a href="{{ path('app_home') }}" class="{{ app.request.get('_route') == 'app_home' ? 'active' }}">
        <i class="fa-solid fa-house"></i>
        Home
    </a>

    <a href="#">
        <i class="fa-solid fa-compass"></i>
        Accueil
    </a>

    <a href="{{ path('app_pet') }}" 
   class="{{ app.request.get('_route') == 'app_pet' ? 'active' }}">
    <i class="fa-solid fa-paw"></i>
    Animaux
</a>

<a href="{{ path('app_announcement') }}" 
   class="{{ app.request.get('_route') == 'app_announcement' ? 'active' }}">
    <i class="fa-solid fa-bullhorn"></i>
    Announcement
</a>

<a href="{{ path('app_event') }}" 
   class="{{ app.request.get('_route') == 'app_event' ? 'active' }}">
    <i class="fa-solid fa-bullhorn"></i>
    Events
</a>
    <a href="#">
    <i class="fa-solid fa-envelope-open"></i>
    Messages
</a>

    </nav>

    <!-- RIGHT : ACTIONS -->
    <div class="nav-right">

        <a href="{{ path('admin_dashboard') }}" class="admin-btn">Admin Portal</a>

        <!-- Notification -->
        <div class="icon-btn">
            <i class="fa-regular fa-bell"></i>
        </div>

        <!-- Dark mode -->
        <div class="icon-btn">
            <i class="fa-regular fa-moon"></i>
        </div>

        <!-- User -->
        <div class="user-avatar">
            <img src="https://i.pravatar.cc/40" alt="user">
        </div>

    </div>

</header>


<!-- CONTENU DYNAMIQUE -->
{% block body %}{% endblock %}

<!-- FOOTER -->
<footer>
    <div class="footer-grid">
        <!-- À propos -->
        <div>
            <strong>SITMYPET</strong>
            <p>L'application pour gérer la garde des animaux et connecter propriétaires et gardiens facilement.</p>
        </div>

        <!-- Liens rapides -->
        <div>
            <strong>Liens rapides</strong>
            <p>
                Accueil<br>
                Publier une annonce<br>
                Voir les gardiens<br>
                Mes annonces
            </p>
        </div>

        <!-- Support -->
        <div>
            <strong>Support</strong>
            <p>
                Centre d'aide<br>
                Contactez-nous<br>
                FAQ
            </p>
        </div>

        <!-- Contact -->
        <div>
            <strong>Contact</strong>
            <p>
                contact@sitmypet.com<br>
                +216 71 000 000
            </p>
        </div>
    </div>

    <p class="copyright">© 2026 SITMYPET. Tous droits réservés.</p>
</footer>



{% block javascripts %}{% endblock %}

</body>
</html>